<?xml version="1.0" encoding="GB2312"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans   
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
           http://www.springframework.org/schema/aop
           http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx-2.5.xsd 
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd"
    default-autowire="byName">
    
     <aop:config proxy-target-class="true"></aop:config>
    
    <bean id="switchInteceptor" class="org.autoswitch.SwitchInteceptor">
    </bean>
    <bean id="switch-service-pointcut" class="org.springframework.aop.support.JdkRegexpMethodPointcut">
        <property name="patterns">
            <list>
                <value>org.autoswitch.test.*</value>
            </list>
        </property>
    </bean>
    <aop:config>
        <aop:advisor advice-ref="switchInteceptor" pointcut-ref="switch-service-pointcut"/>
    </aop:config>
    
    <bean id="wwitchControlHttpServer" class="org.autoswitch.SwitchControlHttpServer" init-method="init"></bean>
    
    <bean id="testService" class="org.autoswitch.test.TestServiceImpl" />
    
    <bean id="testController" class="org.autoswitch.test.TestController" />

</beans>